/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

/* Tabs navigation */
.tabs {
  max-width: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* Allows tabs to wrap on small screens */
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex: 1;
  /* Equal width for all tabs */
  text-align: center;
}

.tab-button.active,
.tab-button:hover {
  background-color: #333;
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.total-row {
  font-weight: bold;
  background-color: #e0e0e0;
}

/* Mobile-specific styles */
@media (max-width: 768px) {

  /* Container adjustments for mobile */
  .container {
    padding: 10px;
    max-width: 100%;
    box-shadow: none;
  }

  /* Tabs on mobile */
  .tabs {
    flex-direction: column;
  }

  .tab-button {
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
  }

  /* Day separation for better readability */
  .day-separator {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }

  /* Horizontal row styling */
  .horizontal-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .horizontal-row .product-name {
    flex: 1;
    font-weight: bold;
    text-align: left;
  }

  .horizontal-row .product-value {
    flex: 1;
    text-align: center;
  }
}


/* Основной стиль контейнера продуктов */
#overview-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Минимальная ширина 150px, заполняет всю доступную ширину */
  gap: 15px;
  justify-items: center;
  padding-top: 20px;
  width: 100%;
}

/* Стили для карточки продукта */
.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 100%;
  /* Заполняет всю ширину в рамках сетки */
}

.product:hover {
  transform: scale(1.02);
}

/* Стиль изображения продукта */
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Информация о продукте */
.product-info {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.product-info h2 {
  margin: 10px;
}

/* Контейнер для кнопок управления продуктами */
.edit-btn-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.edit-btn-container button {
  flex: 1;
  padding: 7px 0;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn-container button:nth-child(1) {
  background-color: #28a745;
  /* Зеленая кнопка "Редактировать" */
}

.edit-btn-container button:nth-child(2) {
  background-color: #dc3545;
  /* Красная кнопка "Удалить" */
}

.edit-btn-container button:hover {
  opacity: 0.8;
}

/* Отдельный стиль для кнопки "Hide", размещаем ниже */
.hide-btn-container {
  margin-top: 5px;
}

.hide-btn-container button {
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  color: #fff;
  background-color: #6c757d;
  /* Серая кнопка "Скрыть" */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hide-btn-container button:hover {
  opacity: 0.8;
}

/* Фильтр категорий */
.filter_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter_container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter_container input[type="radio"] {
  margin-right: 5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  #overview-products-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Обеспечивает минимум два продукта на мобильных устройствах */
  }

  h1 {
    margin: 0 0 15px 0;
  }

  .product {
    max-width: 100%;
  }

  .product-info h2 {
    font-size: 18px;
    margin: 0;
  }

  .product-info p {
    font-size: 16px;
    margin: 0;
  }

  .edit-btn-container {
    flex-direction: row;
  }
}


/* Стили для кнопки "Add New Product" */
#add-new-product-button,
#add-new-category-button {
  width: 100%;
  /* Во всю ширину контейнера */
  padding: 8px;
  /* Тонкая кнопка */
  font-size: 16px;
  color: #333;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

#add-new-product-button:hover,
#add-new-category-button:hover {
  background-color: #999;
  /* Более темный серый при наведении */
  color: #111;
}




/* Стили для скрытого продукта */
.product.hidden {
  background-color: #e0e0e0;
  /* Светло-серый фон для скрытых продуктов */
  opacity: 0.6;
  /* Полупрозрачный вид */
}

.product.hidden img {
  filter: grayscale(100%);
  /* Черно-белое изображение для скрытых продуктов */
}



/* Ограничение ширины таблицы */
table {
  width: 100%;
  max-width: 100%;
  /* Ограничивает таблицу шириной контейнера */
  overflow-x: auto;
  /* Добавляет горизонтальную прокрутку при необходимости */
  display: block;
  /* Позволяет прокрутку на мобильных */
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  /* Запрещает перенос текста */
}

table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

/* Стиль для разделителя дня на мобильных */
@media (max-width: 768px) {
  .day-separator {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }

  /* Установка горизонтальной прокрутки для таблицы на мобильных */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .horizontal-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .horizontal-row .product-name {
    flex: 1;
    font-weight: bold;
    text-align: left;
  }

  .horizontal-row .product-value {
    flex: 1;
    text-align: center;
  }

  .sort-toggle {
    width: 32px;
  }

  .sort-text {
    display: none;
  }
}


.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input[type="file"] {
  margin-top: 5px;
  font-size: 14px;
}

#current-image {
  width: 40%;
  margin-top: 10px;
}


.filter-sort_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  margin: 0 10px;
}


.sort-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sort-toggle:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.sort-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}

.sort-arrow {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.sort-arrow.sort-desc {
  transform: rotate(180deg);
}

/* Контейнер для таблицы с прокруткой */
.table-container {
  overflow-x: auto;
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

/* Стили для самой таблицы */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}

/* Фиксированный первый столбец */
.table th, .table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word;
}

.table th:first-child, .table td:first-child {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

/* Даты в заголовке (горизонтальная прокрутка) */
.table th {
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}

/* Добавляем класс для прокрутки */
.table td {
  text-align: center;
  min-width: 120px; /* Минимальная ширина для удобного отображения */
}

/* Стили для контейнера продуктов */
.product-column {
  width: 200px;
  text-align: left;
  background-color: #f9f9f9;
  padding-left: 10px;
  font-weight: bold;
}


/* Контейнер для таблицы с горизонтальной прокруткой */
.table-container-mobile {
  width: 100%; /* Растягиваем контейнер на всю ширину экрана */
  overflow-x: auto;  /* Включаем горизонтальную прокрутку */
  -webkit-overflow-scrolling: touch;  /* Плавная прокрутка на мобильных устройствах */
  margin-top: 20px;
}

/* Стиль самой таблицы */
.table-mobile {
  width: 100%; /* Растягиваем таблицу на всю ширину */
  table-layout: fixed;  /* Статическая ширина столбцов */
  border-collapse: collapse; /* Убираем промежутки между ячейками */
}

/* Стиль для ячеек таблицы */
.table-mobile th, .table-mobile td {
  text-align: center;
  padding: 12px 10px;  
  border: 1px solid #ddd;  
  width: 95%;
}

/* Стиль для заголовков столбцов */
.table-mobile th {
  background-color: #f1f1f1; 
  font-weight: bold; 
  font-size: 16px; 
  text-transform: uppercase; 
  color: #333; 
}

/* Стиль для строк данных */
.table-mobile td {
  background-color: #fff;
}

/* Стиль для ячеек с продуктами */
.product-name {
  font-weight: bold;
  color: #333;
}

/* Контейнер для стрелок и заголовка с датой */
.date-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.date-header {
  font-size: 18px;
  font-weight: bold;
}

.navigate-button {
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.navigate-button:active {
  background-color: #838689;
}
