body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .product {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .product-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
  }
  
  .product-controls button {
    font-size: 24px;
    padding: 15px 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-controls button:hover {
    background-color: #ddd;
  }
  
  .product-info {
    flex-grow: 1;
    text-align: center;
  }
  
  .product-info h2 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .product-info p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .counter {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
  }

  
  .report-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .report-item strong {
    font-size: 1.1em;
  }
  
  .total-revenue {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #4CAF50;
    border-top: 2px solid #4CAF50;
    margin-top: 15px;
    text-align: center;
  }
  
  /* Адаптивность для мобильных устройств */
  @media (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    .container {
      padding: 10px;
    }
  
    .product img {
      width: 60px;
      height: 60px;
    }
  
    .product-controls button {
      width: 50px;
      font-size: 22px;
    }
  
    .product-info h2 {
      font-size: 16px;
    }
  
    .product-info p {
      font-size: 14px;
    }
  
    .counter {
      font-size: 24px;
    }
  }
  